<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">

	
	<!-- 自动生成AOP代理 -->
	<aop:aspectj-autoproxy/>
	
	<!-- 添加组成扫描,排除被SpringMVC包含的过滤注解 -->
  	<context:component-scan base-package="com.ssh">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

	<!-- 配置数据库 -->
	<context:property-placeholder location="classpath:/resources/jdbc.properties" />

	<!-- 配置DataSource-数据库关联的东西 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
  		<property name="user" value="${jdbc.user}"></property>
  		<property name="password" value="${jdbc.passowrd}"></property>
  		<property name="driverClass" value="${jdbc.driverClass}"></property>
  		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
   	</bean>
   	
   	<!-- 配置hibernate整合 -->
   	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
   		<!-- 配置数据源 -->
   		<property name="dataSource" ref="dataSource"></property>
   		
   		<!-- 配置hibernate常用属性 -->
   		<property name="hibernateProperties">
   		<props>
        	<!-- 数据库的方言 -->
        	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        	<prop key="hibernate.show_sql">false</prop>
        	<prop key="hibernate.format_sql">true</prop>
       		<prop key="hibernate.hbm2ddl.auto">update</prop>
    	</props>
    	</property>
   		
   		<property name="packagesToScan">
   			<list>
   				<value>com.ssh.entity</value>
   			</list>
   		</property>
   	 </bean>
   	 

   	
	<!-- 配置hibernate事物管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>